<section class="steps">
    <div class="step">
      <picture class="step__picture">
        <img src="img/image-retro-pcs.jpg" alt="Image if retro laptops in pink aand blue retro light">
      </picture>
      <div class="step__text">
        <h2 class="numbering">01</h2>
        <h3 class="step__headline">Reviving Retro PCs</h3>
        <p class="step__description">What happens when old PCs are given modern upgrades?</p>
      </div>
    </div>
    <div class="step">
      <picture class="step__picture">
        <img src="img/image-top-laptops.jpg" alt="Picture of black laptop keyboard with red lights">
      </picture>
      <div class="step__text">
        <h2 class="numbering">02</h2>
        <h3 class="step__headline">Top 10 Laptops of 2022</h3>
        <p class="step__description">Our best picks for various needs and budgets.</p>
      </div>
    </div>
    <div class="step">
      <picture class="step__picture">
        <img src="img/image-gaming-growth.jpg" alt="Image of gamepad levitating above the hand.">
      </picture>
      <div class="step__text">
        <h2 class="numbering">03</h2>
        <h3 class="step__headline">The growth of gaming</h3>
        <p class="step__description">How the pandemic has sparked fresh opportunities.</p>
      </div>
    </div>
  </section>