*,
*::after,
*::before {
  box-sizing: border;
}

:root {
  --primary-soft-orange: hsl(35, 77%, 62%);
  --primary-soft-red: hsl(5, 85%, 63%);

  --neutral-off-white: hsl(36, 100%, 99%);
  --neutral-grayish-blue: hsl(233, 8%, 79%);
  --neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --neutral-very-dark-blue: hsl(240, 100%, 5%);
}

html {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  padding: 2rem 2rem;
  margin: 0;
}

@media screen and (min-width: 768px) {
  body {
    padding: 4rem 6rem;
  }
}

img {
  width: 100%;
  object-fit: cover;
}


h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  font-size: clamp(3rem, 4vw + 1rem, 5rem);
  font-weight: 800;
  line-height: 1.2;
}

h2 {
  font-size: 2.3rem;
  font-weight: 800;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

h4 {
  font-size: 1.2rem;
  font-weight: 800;
}

body {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
}

p {
  color: var(--neutral-dark-grayish-blue);
}

.numbering {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--neutral-grayish-blue);
}

.btn {
  padding: 1rem 1.6rem;
  letter-spacing: 0.3rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: background ease 0.3s;
}

.btn:hover,
.btn:focus {
  background: var(--neutral-very-dark-blue);
}

.btn--red {
  background: var(--primary-soft-red);
  color: var(--neutral-off-white);
}

.grid__element1 {
  width: 100%;
  height: 100%;
  /* height: 100%; */
  /* background: hsl(5, 85%, 63%); */
}



.grid__element2 {
  width: 100%;
  height: 100%;
  /* background: dodgerblue; */
}

.grid__element3 {
  width: 100%;
  /* height: 100%; */
  /* background: yellow; */
}

.grid__element4 {
  width: 100%;
  /* height: 100%; */
  /* background: greenyellow; */
}

.main-grid {
  display: grid;
  row-gap: 2rem;
  
}

@media screen and (min-width: 768px) {
  .main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  .grid__element1 {
    grid-column: 1/3;
  }

  .grid__element2 {
    grid-column: 3;
    grid-row: 1 / span 2;
    background: var(--neutral-very-dark-blue);
  }

  .grid__element3 {
    grid-column: 1/2;
    height: 100%;
  }
}

.hero__container {
  width: 100%;
  height: 100%;
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



@media screen and (min-width: 768px) {
  .hero__text {
    flex-direction: row;
    align-items: flex-start;
  }

  .hero__headline-text {
    margin: 0 2rem 0 0;
  }

  .hero__description-text {
    margin-bottom: 2rem;
  }
}



.hero__picture > img {
  width: 100%;
  object-fit: cover;
}


.hero__headline-text {
  margin-right: 2rem;
  margin-bottom: 0;
}

.hero__description {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__description > .btn {
  display: inline-block;
  width: fit-content;}

.hero__description-text {
  margin-bottom: 2rem;
}

/* news section */

.new__container {
  background: var(--neutral-very-dark-blue);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem;
}

.new__main-headline {
  color: var(--primary-soft-orange);
}

.new__article {
  padding: 2rem 0;
  border-bottom: 1px solid var(--neutral-grayish-blue);
}

.new__headline {
  color: var(--neutral-off-white);
  margin-bottom: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.new__headline:hover {
  color: var(--primary-soft-orange);
}

.new__article-text {
  color: var(--neutral-grayish-blue);
}


/* steps section */

.steps {
  margin: 8rem 0;
  display: flex;
  flex-direction: column;
}

.step {
  display: grid;
  grid-template-columns: 30fr 70fr;
  column-gap: 1rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {

  .steps {
    flex-direction: row;
  }

  .step {
    margin-bottom: 0;
    padding-right: 1rem;
  }
}

.step__picture > img {
  width: 100%;
  object-fit: cover;
}

/* header */

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  top: 0;
  background: var(--neutral-off-white);
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: block;
  }
}

.menu__list {
  display: flex;
  flex-direction: row;
}

.menu__item {
  display: inline;
  margin: 0 2rem;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 1.6rem;
}

.menu__item:hover {
  color: var(--primary-soft-orange);
}

.last__menu-item {
  margin-right: 0;
}

.logo {
  width: clamp(4rem, 3vw + 1rem, 6rem );
  object-fit: cover;
}

.menu__toggler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 200;
  right: 2rem;
  cursor: pointer;
}

.black__transparency {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,70%);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.black__transparency.active {
  opacity: 100%;
}

@media screen and (min-width: 768px) {
  .menu__toggler {
    display: none;
  }

  .black__transparency {
    display: none;
  }
}

.menu__toggler-bar {
  width: 30px;
  height: 4px;
  margin: 0.2rem 0;
  background: var(--neutral-very-dark-blue);
  transition: all 0.3s ease-in;
}

.menu__toggler.active .menu__toggler-bar1 {
  transform: rotate(45deg)  translateX(11px);
}
.menu__toggler.active .menu__toggler-bar2 {
  opacity: 0;
}

.menu__toggler.active .menu__toggler-bar3 {
  transform: rotate(-45deg)  translateX(11px);
}

.mobile__menu {
  background: var(--neutral-off-white);
  height: 100%;
  position: fixed;
  right: -100%;
  top: 0rem;
  z-index: 100;
  width: 60%;
  transition: all 0.3s ease;
}

.mobile__menu.active {
  right: 0rem;
}

@media screen and (min-width: 768px) {
  .mobile__menu {
    display:none;
  }
}

.menu__list--mobile-container {
  padding-top: 4rem;
}

.menu__list--mobile {
  list-style: none;
}

.menu__item--mobile {
  font-size: 2rem;
  margin: 1rem 0;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.menu__item--mobile:hover {
  color: var(--primary-soft-orange);
}





 
